# Lab Cleaning Numerical Data

In [ ]:
# For this lab, we will be using the dataset in the Customer Analysis Business Case. 
# This dataset can be found in files_for_lab folder.

## CONTEXT

In [ ]:
# An auto insurance company has collected some data about its customers including 
# their demographics, education, employment, policy details, 
# vehicle information on which insurance policy is, and claim amounts. 

# You will help the senior management with some business questions 
# that will help them to better understand their customers, 
# improve their services, and improve profitability.

# Some business Objectives:

# Retain customers,
# Analyze relevant customer data,
# Develop focused customer retention programs.

# Based on the analysis, take targeted actions to increase profitable customer response, 
# retention, and growth.

## INSTRUCTIONS

In [ ]:
# Task 1: Import the necessary libraries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# Task 2: Load the we_fn_use_c_marketing_customer_value_analysis.csv  

# Task 3: First look at its main features (head, shape, info).

In [2]:
data = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')
data.head()

(9134, 24)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [3]:
data.shape

(9134, 24)

In [6]:
data.info

<bound method DataFrame.info of      Customer       State  Customer Lifetime Value Response  Coverage  \
0     BU79786  Washington              2763.519279       No     Basic
1     QZ44356     Arizona              6979.535903       No  Extended
2     AI49188      Nevada             12887.431650       No   Premium
3     WW63253  California              7645.861827       No     Basic
4     HB64268  Washington              2813.692575       No     Basic
...       ...         ...                      ...      ...       ...
9129  LA72316  California             23405.987980       No     Basic
9130  PK87824  California              3096.511217      Yes  Extended
9131  TD14365  California              8163.890428       No  Extended
9132  UP19263  California              7524.442436       No  Extended
9133  Y167826  California              2611.836866       No  Extended

     Education Effective To Date EmploymentStatus Gender  Income  ...  \
0     Bachelor           2/24/11         Employed      F   56274  ...
1     Bachelor           1/31/11       Unemployed      F       0  ...
2     Bachelor           2/19/11         Employed      F   48767  ...
3     Bachelor           1/20/11       Unemployed      M       0  ...
4     Bachelor            2/3/11         Employed      M   43836  ...
...        ...               ...              ...    ...     ...  ...
9129  Bachelor           2/10/11         Employed      M   71941  ...
9130   College           2/12/11         Employed      F   21604  ...
9131  Bachelor            2/6/11       Unemployed      M       0  ...
9132   College            2/3/11         Employed      M   21941  ...
9133   College           2/14/11       Unemployed      M       0  ...

     Months Since Policy Inception Number of Open Complaints  \
0                                5                         0
1                               42                         0
2                               38                         0
3                               65                         0
4                               44                         0
...                            ...                       ...
9129                            89                         0
9130                            28                         0
9131                            37                         3
9132                             3                         0
9133                            90                         0

      Number of Policies     Policy Type        Policy  Renew Offer Type  \
0                      1  Corporate Auto  Corporate L3            Offer1
1                      8   Personal Auto   Personal L3            Offer3
2                      2   Personal Auto   Personal L3            Offer1
3                      7  Corporate Auto  Corporate L2            Offer1
4                      1   Personal Auto   Personal L1            Offer1
...                  ...             ...           ...               ...
9129                   2   Personal Auto   Personal L1            Offer2
9130                   1  Corporate Auto  Corporate L3            Offer1
9131                   2  Corporate Auto  Corporate L2            Offer1
9132                   3   Personal Auto   Personal L2            Offer3
9133                   1  Corporate Auto  Corporate L3            Offer4

      Sales Channel Total Claim Amount  Vehicle Class Vehicle Size
0             Agent         384.811147   Two-Door Car      Medsize
1             Agent        1131.464935  Four-Door Car      Medsize
2             Agent         566.472247   Two-Door Car      Medsize
3       Call Center         529.881344            SUV      Medsize
4             Agent         138.130879  Four-Door Car      Medsize
...             ...                ...            ...          ...
9129            Web         198.234764  Four-Door Car      Medsize
9130         Branch         379.200000  Four-Door Car      Medsize
9131         Branch         790.784983  Four-Door Car      Medsize
9132         Branch         691.200000  Four-Door Car        Large
9133    Call Center         369.600000   Two-Door Car      Medsize

[9134 rows x 24 columns]>

In [5]:
data.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [ ]:
# Task 4: Rename the columns so they follow the PE8 (snake case) (lower_case_with_underscores)

In [7]:
cols = []
for column in data.columns:
    cols.append(column.lower().replace(' ','_'))
data.columns = cols

In [8]:
data.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [ ]:
# Task 5: Change effective to date column to datetime format.

In [9]:
data['effective_to_date'] = pd.to_datetime(data.effective_to_date)

In [10]:
data.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [ ]:
# Task 6: Define a function that differentiates between continuous and discrete variables. 
  # Hint: The number of unique values might be useful. 
  # Store continuous data into a continuous_df variable and do the same for discrete_df

In [13]:
# Continuous and discrete variables just exist in numerical data - therefore, we do an cat-num-split
datacat= data.select_dtypes(include=object)
datanum = data.select_dtypes(include=np.number)

In [17]:
datanum.nunique()

customer_lifetime_value          8041
income                           5694
monthly_premium_auto              202
months_since_last_claim            36
months_since_policy_inception     100
number_of_open_complaints           6
number_of_policies                  9
total_claim_amount               5106
dtype: int64

In [ ]:
# Discrete data: is counted, cannot be divided, is distinct (number of dogs e.g.), graphed on bar graph
# Continuous data: is measured, can be divided infinitely (weight of the dog e.g.), graphed on hist

In [56]:
continuous_df = []
discrete_df = []

In [57]:
datanum.shape

(9134, 8)

In [63]:
continuous_df = []
discrete_df = []

def diff_connum(df, x):
    for i in df.columns:
        if len(df[i].unique()) <= x:
            discrete_df.append(i)
        else:
            continuous_df.append(i)
    print(discrete_df)
    print(continuous_df)
    
diff_connum(datanum, 100)

['months_since_last_claim', 'months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies']
['customer_lifetime_value', 'income', 'monthly_premium_auto', 'total_claim_amount']

In [ ]:
# Task 7: Plot a correlation matrix, comment what you see.

In [ ]:
# Task 8: Create a function to plot every discrete variable. 
  # Do the same with the continuous variables 
  # (Be Careful, you may need to change the plot type to one better suited for continuous data!)

In [ ]:
# Task 9: Comment what you can see in the plots.

In [ ]:
# Task 10: Look for outliers in the continuous variables. (HINT: Thereâ€™s a good plot to do that!)

In [ ]:
# Task 11: Did you find outliers? Comment what you will do with them.

In [ ]:
# Task 12: Check all columns for NaN values. 
  # Decide what (if anything) you will need to do with them.

# Lab Cleaning Categorical Data

In [ ]:
# For this lab, we will be using the dataset in the Customer Analysis Business Case. 
# This dataset can be found in files_for_lab folder. 
# In this lab we will explore categorical data.

## Instructions

In [ ]:
# Task 1: Import the necessary libraries if you are starting a new notebook. 
 # Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv
    
# Task 2: Find all of the categorical data. Save it in a categorical_df variable.

In [35]:
categorical_df = datacat

In [36]:
categorical_df.head()

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [ ]:
# Task 3: Check for NaN values.

In [37]:
categorical_df.isna().sum()

# No NaNs in the categorical data!

customer            0
state               0
response            0
coverage            0
education           0
employmentstatus    0
gender              0
location_code       0
marital_status      0
policy_type         0
policy              0
renew_offer_type    0
sales_channel       0
vehicle_class       0
vehicle_size        0
dtype: int64

In [ ]:
# Task 4: Check all unique values of columns.

In [39]:
categorical_df.nunique()

customer            9134
state                  5
response               2
coverage               3
education              5
employmentstatus       5
gender                 2
location_code          3
marital_status         3
policy_type            3
policy                 9
renew_offer_type       4
sales_channel          4
vehicle_class          6
vehicle_size           3
dtype: int64

In [ ]:
# Task 5: Check dtypes. Do they all make sense as categorical data?

In [40]:
categorical_df.dtypes

customer            object
state               object
response            object
coverage            object
education           object
employmentstatus    object
gender              object
location_code       object
marital_status      object
policy_type         object
policy              object
renew_offer_type    object
sales_channel       object
vehicle_class       object
vehicle_size        object
dtype: object

In [ ]:
# It all looks good, I would

In [ ]:
# Task 6: Does any column contain alpha and numeric data? Decide how to clean it.

In [ ]:
# Task 7: Would you choose to do anything else to clean or wrangle the categorical data? 
          # Comment your decisions.

In [ ]:
# Task 8: Compare policy_type and policy. 
# What information is contained in these columns. Can you identify what is important?

In [ ]:
# Task 9: Check number of unique values in each column, 
        # can they be combined in any way to ease encoding? 
        # Comment your thoughts and make those changes.